doctype html
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/weather_app.js')
  body
    block content
    div(id='weather')
    img(src="http://www.wunderground.com/logos/images/wundergroundLogo_4c_horz.jpg")

